body {
	background-color:#e6e6e7;
	color: #333333;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	display: grid;
	grid-template-columns: 2fr 1fr;
	text-align: center;
	padding-top: 75px;
	padding-bottom: 100px;
} 

@media screen and (max-width: 1000px) {
	.container {
		display: block;
		padding-top: 100px;
	}
}

li {
	font-size: 30px;
	text-align: center;
}

@media screen and (max-width: 500px) {
	li {
		font-size: 20px;
		text-align: center;
	}
}

.lead {
	background-color: #333333;
	color: #d9d9d9;
	padding: 30px;
	border-radius: 15px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
}

h2.full-width {
	width: 100%;
	position: relative;
	right: 40px;
}

header {
	padding-bottom: 30px;
}

header, footer, nav, .lead, .full-width {
	grid-column: 1 / 3;
} 

article {
	padding-right: 50px;
}

aside {
	padding-left: 50px;
}

h1 {
	font-family: "Century Gothic";
	text-align: center;
}

.intro {
	font-weight: bold;
	font-size: 20px;
	font-family: "Century Gothic";
	text-align: center;
	color: #9ef1f0;
}

h2 {
	font-weight: bold;
	margin-bottom: 5px;
	padding-left: 50px;
	font-family: Tahoma;
	background-repeat: no-repeat;
	text-align: center;
	color: #9ef1f0;
}

.full-width {
	width: 100%;
}


h3 {
	margin-top: 40px;
	line-height: 1.5em;
	font-family: "Courier New";
	text-align: center;
	font-size: 30px;
	color: #f30567;
}

p {
	font-family: Helvetica;
	font-size: 20px;
}

ol, ul {
	padding-left: 50px;
	font-family: "Century Gothic";
	font-size: 20px;
	text-align: center;
}

figure {
	float: left;
	margin-left: 40px;
}

a {
	color: #ffdb4d;
	text-decoration: none;
}

a:hover { 
	color: #f30567; 
}

p::first-letter {
 	float: left;
  	font-size: 50px;
  	line-height: 60px;
 	padding-top: 4px;
  	padding-right: 8px;
  	padding-left: 3px;
}


.container2 {
   margin: 0 auto;
   display: grid;
   column-count: 3;
   column-gap: 40px;
   column-rule-style: solid;
   column-rule-width: 1px;
   column-rule-color: lightblue;
   grid-template-columns: 1fr 1fr;
   padding-left: 40px;
   padding-right: 40px;
}

@media screen and (max-width: 1000px) {
	.container2 {
		display: inline;
	}
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

img.center {
	width: 100%;
}

figcaption {
  padding-top: 10px;
  text-align: center;
  font-family: Verdana;
}

h4 {
font-size: 25px;
font-weight: bold;
font-family: "Courier New";
text-align: center;
background-color: #3c04b0;
color: #ffdb4d;
padding-bottom: 40px;
padding-top: 40px;
}

h5 {
font-size: 25px;
font-weight: bold;
font-family: "Courier New";
text-align: center;
background-color: #9ef1f0;
color: #FA8072;
}


footer {
   width: 100%;
   position: absolute;
   background-color: #3c04b0;
   left: 0;
   padding-top: 5px;
   padding-bottom: 5px;
}

h4.home {
	padding-top: 25px;
	padding-bottom: 25px;
}

header {
	width: 100%;
	background-color: #3c04b0;
	padding-bottom: 40px;
	padding-top: 25px;
	top: 0px;
	right: 0px;
	left: 0px;
	position: absolute;
}

.header {
	padding-bottom: 100px;
}

img {
	width: auto;
	max-width: 100%;
	height: auto;
}


nav {
	padding-top: 40px;
}

@media screen and (max-width: 550px) {
	.slider {
		width:25vh;
	}

	li {
		font-size: 20px;
	}
}


@media screen and (max-width: 450px) {
	.inner-container {
		display: flex;
		flex-wrap: wrap;
	}
}

.inner-container {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
	.inner-container {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 25px;
	}
}
