body {
	background-color:#f0f0f0;
	color: #333333;
}

.container {
	margin: 0 auto;
	/* width: 90%; 
   max-width: 960px; */
	display: grid;
	grid-template-columns: 2fr 1fr;
	text-align: center;
	/* padding-top: 75px; */
	padding-bottom: 5em;
} 

@media screen and (max-width: 900px) {
	.container {
		display: block;
	}
}


li {
	font-size: 30px;
	text-align: center;
}

@media screen and (max-width: 500px) {
	li {
		font-size: 20px;
		text-align: center;
	}
}

.lead {
	background-color: #999999;
	color: #323131;
	padding: 30px;
	border-radius: 15px 15px 15px 15px;
	margin: 0 auto;
	margin-top: 4em;
	display: flex;
	flex-wrap: wrap;
	max-width: 60%;
}


@media screen and (min-width: 550px) and (max-width: 1000px) {
	.lead {
		max-width: 90%;
	}
}

#accordion {
	margin: 0 auto;
	max-width: 90%;
}

@media screen and (min-width: 200px) and (max-width: 550px) {
	.lead {
		max-width: 100%;
		padding-left:  0px;
		padding-right: 0px;
		padding-bottom: 0em;
		border-radius:  0px;
	}

	h2 {
		margin-bottom: 1em;
	}

	#accordion {
		max-width: 100%;
		width: 100%;
	}
}

#current_date {
	background-color: #ddffff;
	margin-top: 2em;
	max-width: 60%;
	margin-left: 20%;
}

#accordion div {
	margin: 0 auto;
}

.short-text { 
	display: none; 
	color: #ffdb4d;
	font-family: "Century Gothic";
}

@media (max-width: 650px) {
    .short-text { 
    	display: inline-block; 
    }
    .full-text { 
    	display: none; 
    }
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

.w3-block {
	display: inline-block;
}

.w3-pale-blue {
	color:  #484848 !important;
}

h2.full-width {
	width: 100%;
}

header, footer, nav, .lead, .full-width, #current_date {
	grid-column: 1 / 3;
} 

h1 {
	font-family: "Century Gothic";
	text-align: center;
}

.intro {
	font-weight: bold;
	font-size: 20px;
	font-family: "Century Gothic";
	text-align: center;
	color: #ADD8E6;
}

h2 {
	font-weight: bold;
	margin-bottom: 2em;
	font-family: "Century Gothic";
	background-repeat: no-repeat;
	text-align: center;
	color: #003366;
}

.w3-aqua {
	background-color: #ADD8E6 !important;
}

.full-width {
	width: 100%;
}


h3 {
	margin: 40px;
	line-height: 1.5em;
	font-family: "Century Gothic";
	text-align: center;
	font-size: 30px;
	color: #003366;
}

p {
	font-family: "Trebuchet MS";
	font-size: 20px;
	font-weight: bold;
	padding-left:  1em;
	padding-right:  1em;
}

ul {
	font-family: "Century Gothic";
	font-size: 20px;
	text-align: center;
	padding-top: 2em;
	padding-bottom: 1em;
}

figure {
	float: left;
	margin-left: 40px;
}

a {
	color: #ffdb4d;
	text-decoration: none;
}

a:hover { 
	color: #f30567; 
}

p::first-letter {
 	float: left;
  font-size: 50px;
  line-height: 60px;
 	padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

figcaption {
  padding-top: 10px;
  text-align: center;
  font-family: Verdana;
}


h5 {
font-size: 25px;
font-weight: bold;
font-family: "Courier New";
text-align: center;
background-color: #9ef1f0;
color: #FA8072;
}

footer {
	width: 100%;
  position: absolute;
	font-weight: bold;
	text-align: center;
	background-color: #003366;
	color: #ffdb4d;
 	left: 0;
	padding-bottom: 40px;
	padding-top: 40px;
}

footer h4 {
	padding-top: 25px;
	padding-bottom: 25px;
	font-family: "Century Gothic";
	font-size: 25px;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

@media screen and (min-width: 200px) and (max-width: 550px) {
	footer h4 {
		font-size: 20px;
	}
}

header {
	width: 100%;
	background-color: #003366;
	padding-bottom: 3em;
	padding-top: 3em;
	top: 0px;
	right: 0px;
	left: 0px;
	position: absolute;
}

.header {
	margin-bottom: 100px;
}

img {
	margin-left: auto;
	margin-right: auto;
	width: 90%;
	padding-bottom: 2em;
}

nav {
	padding-top: 4em;
  background-color: #484848;
  overflow: hidden;
  text-align: center;
}

nav li {
	display: inline;
	margin: .4em; 
	text-align: center;
}

.w3-btn {
	white-space:  normal;
}

@media screen and (max-width: 550px) {
	.slider {
		width:25vh;
	}

	li {
		font-size: 20px;
	}
}

@media screen and (max-width: 450px) {
	.inner-container {
		display: flex;
		flex-wrap: wrap;
	}
}

.inner-container {
	display: flex;
	flex-wrap: wrap;
}

@media screen and (min-width: 500px) {
	.inner-container {
    display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 25px;
	}
}

