{% extends "layout.html" %}

{% block content %}

<head>
    <title>Down Detector Alternate Nav</title>
    <link rel="stylesheet" href="../static/styles.css">
    <style>
        li {
            text-align: left;
            font-size: 24px;
        }

        h1 {
            padding-top: 1em;
        }

        h5 {
            font-family: "Trebuchet MS";
            font-size: 20px;
            font-weight: bold;
            padding-left: 1em;
            padding-right: 1em;
        }
    </style>
</head>

<body>
    <h1>Down Detector Building List</h1>
    <h5>Select your building to view the status</h5>
    <ol>
        {% for building in buildings %}

        <li><a href="/downdetector/{{ building.buildingid }}">{{ building.name }}</a></li>

        {% endfor %}
    </ol>

</body>

{% endblock %}