{% extends "layout.html" %}

{% block head %}
<title>Down Detector Alternate Nav</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/styles.css">
<style>

    h2.fullwidth 
    li {
        text-align: left;
        font-size: 24px;
        margin-left: 1%;
    }

    nav li {
        font-size: 30px;
    }

    h5 {
        font-family: "Trebuchet MS";
        font-size: 20px;
        font-weight: bold;
        padding-left: 1em;
        padding-right: 1em;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <section class="lead">
        <h2 class="full-width">Down Detector Building List</h2>
            <h2>Select your building to view the status</h2>
            <ol>
            {% for building in buildings %}

            <li><a href="/downdetector/{{ building.buildingid }}"><u>{{ building.name }}</u></a></li>

            {% endfor %}
            </ol>
        </section>
    </div>
</div>
{% endblock %}