{% extends "layout.html" %}

{% block head %}
   <title>Dining Resources</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../static/styles.css">
{% endblock %}

{% block content %}
      <div class="container">
         <div class = "whatisopen">
            <h2>What's Open Right Now?</h2>
            <div id="current_date"></div>
            <div id="fall_schedule"></div>
            <p id="finalsweek_schedule"></p>
            <div class="dininglocations">
            <p id="pit_schedule"></p>
            <p id="rockys_schedule"></p>
            <p id="starbucks_schedule"></p>
            <p id="connections_schedule"></p>
            <p id="hillside_schedule"></p>
            <p id="douglassbreak_schedule"></p>
            <p id="douglassbrunch_schedule"></p>
            <p id="douglasslunch_schedule"></p>
            <p id="douglassdinner_schedule"></p>
            <p id="eastmandinner_schedule"></p>
            <p id="grabngo_schedule"></p>
            <p id="peets_schedule"></p>
            <p id="danforthlunch_schedule"></p>
            <p id="danforthdinner_schedule"></p>
            <p id="californiarollin_schedule"></p>
            <p id="facultyclub_schedule"></p>
            <p id="brew_schedule"></p>
            <p id="nothing"></p>
         </div>
      </div>
            <section class="lead">
         <h2 class="full-width">Dining Locations</h2>
         <figure>
            <img src="../static/hoursofoperation.png" alt="Fall Hours of Operation" id="hoursofop">
            <figcaption>Chart made by &nbsp;<a href="https://dining.rochester.edu/">UR Dining Services</a>, double press image to open in new tab</figcaption>
         </figure>
         <div class="futureplans">
         <h3><em>Ideas for Future Features</em></h3>
            <span class="full-text"><p>A future goal for this page would be to include extra menu filters and information for a greater number of locations than is currently represented on the official site.</p></span>
         </div>
    <h2 class="dining-link">Want to share your feedback about dining? <a href="/diningfeedbackform">Click here!</a></h2>
      </section>
   </div>
   <script src="../static/zoom-by-ironex.min.js"></script>
{% endblock %}
