{% extends "layout.html" %}

{% block content %}

<head>
    <title>Down Detector Nav</title>
    <link rel="stylesheet" href="static/style.css">
</head>

<body>
    <h1>Buildings</h1>
    <img src="static/rivercampusmap.png" usemap="#image-map">
    <map name="image-map">
   <!-- <area target="" alt="" title="" href="downdetector/1" coords="588,231,8" shape="circle">
    <area target="" alt="" title="" href="downdetector/2" coords="624,205,7" shape="circle"> -->
    </map>
</body>

{% endblock %}