{% extends "layout.html" %}

{% block content %}

<head>
    <title>Down Detector</title>
    <link rel="stylesheet" href="static/styles.css">
</head>

<body>
    <h3>{{ name }}</h3>
    </br>
    <h3>Recent Reports: {{ reportcount }}</h3>
    </br>
    <form method="post">
        {{ form.csrf_token }}
        <input type="radio" id="down" name="status" value="true">
        <label for="down">This Elevator is Down</label>
        <input type="radio" id="up" name="status" value="false">
        <label for="up">The Elevator is Working</label>
        <input type="submit" value="Submit">
    </form>
</body>

{% endblock %}