{% extends "layout.html" %}

{% block head %}
<title>Down Detector Refresh</title>
<link rel="stylesheet" href="../static/styles.css">
<style>
    h1 {
        padding-top: 1em;
    }

    h5 {
        font-family: "Trebuchet MS";
        font-size: 20px;
        font-weight: bold;
        padding-left: 1em;
        padding-right: 1em;
    }
</style>
{% endblock %}

{% block content %}

<body>
    <h1>Thank you for your report!</h1>
    <h5>Click <a href="/downdetector/{{ buildingid }}">here</a> to return to the previous page.</h5>
</body>

{% endblock %}