{% extends "layout.html" %}

{% block head %}
<title>Down Detector Refresh</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/styles.css">
<style>
    h1 {
        padding-top: 1em;
    }

    h5 {
        font-family: "Trebuchet MS";
        font-size: 20px;
        font-weight: bold;
        padding-left: 1em;
        padding-right: 1em;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <h1>Thank you for your report!</h1>
    <h5>Click <a href="/downdetector/{{ buildingid }}">here</a> to return to the previous page.</h5>
</div>
{% endblock %}