{% extends "layout.html" %}

{% block head %}
   <title>Give us Feedback</title>
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="../static/styles.css">
   <style>
   .lead {
	padding-left: 3em;
	padding-right: 3em;
	}

	@media screen and (min-width: 200px) and (max-width: 550px) {
		.lead {
			padding: 0em;
			padding-bottom: 2em;
			padding-bottom: 2em;
		}
	}
   </style>
{% endblock %}

{% block content %}
    <div class="container">
      <section class="lead">
        <div class="form">
            <h2 class="full-width">Feedback Form</h2>
    		<form action="" method="POST">
        		{{ form.csrf_token }}
        		<fieldset>
		        	<label for="name">Your name:</label>
		        	<input type="text" id="name" name="name"><br><br>
		       		<label for="email">Your email:</label>
		        	<input type="email" id="email" name="email"><br><br>
		        	<label for="subject">Subject of Message:</label>
		        	<input type="text" id="subject" name="subject"><br><br>
                    		<label for="message">Message:</label><br>
		        	<textarea id="message" name="message"></textarea><br><br>
					<center>{{ recaptcha }}</center>
		        	<input type="submit" id="submit" name="submit">
					<label for="submit"></label>
				</fieldset>
    			</form>
	      </div>
	</section>
</div>

{% endblock %}
