{% extends "layout.html" %}

{% block content %}
    <div class="container">
      <section class="lead">
        <div class="form">
            <h2 class="full-width">Feedback Form</h2>
    		<form action="" method="POST">
        		{{ form.csrf_token }}
        		<fieldset>
		        	<label for="name">Your name:</label>
		        	<input type="text" id="name" name="name"><br><br>
		       		<label for="email">Your email:</label>
		        	<input type="email" id="email" name="email"><br><br>
		        	<label for="subject">Subject of Message:</label>
		        	<input type="text" id="subject" name="subject"><br><br>
                    		<label for="message">Message:</label><br>
		        	<textarea id="message" name="message"></textarea><br><br>
		        	<input type="submit" id="submit" name="submit">
					<label for="submit"></label>
				</fieldset>
    			</form>
	      </div>
	</section>
</div>

{% endblock %}
