<!doctype html>
<html>
    <head>
        <title>UR Web Hub</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/styles.css">
    </head>
    <body>
        <div class="header">
          <header>
           <a href="urwebhub.html"><h1>UR Web Hub</h1></a>
           <div class="intro">Campus Resources</div>
         </header>
   </div>
    <nav class="menu" id="navMenu">
            <ul>
               <li><a href="/" class="active">Home</a></li>
               <li><a href="/dining">Dining</a></li>
               <li><a href="/ratemycourse">Academics</a></li>
               <li><a href="/downdetectornav">Down Detector</a></li>
               <li><a href="/feedbackform">Contact us</a></li>
            </ul>
         </nav>
    {% block content %}
    {% endblock %}
       <div class="home">
        <footer>
         <h4>Sarah, Grant, Kelly, Rachael, Emersyn - CSC 210 Human Computer Interaction 👩🏻‍💻 👩‍💻 👨🏻‍💻</h4>
       </footer>
       </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
        <script src="../static/script.js"></script>
    </body>
</html>
