{% extends "layout.html" %}

{% block head %}
<!--Emersyn, Rachael, Sarah, Kelly, Grant-->
<title>{{ courseID }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="/static/script.js"></script>
<!-- bar stuff is from w3schools.com/howto/tryit.asp?filename=tryhow_css_user_rating-->
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/rate.css">
<style>
    header {
        width: auto;
    }

    .table {
        border-collapse: collapse;
    }
    progress {
        height: 2rem;
        text-align: center;
        color: white;
        background-image: green;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }

    .comment {
        border-radius: 15px 15px 15px 15px;
        margin-left: 5%;
        margin-right: 5%;
        background-color: #e4e4e4;
        padding: 0.5em;
    }

    .tag {
        border-radius: 15px 15px 15px 15px;
        margin-left: 1%;
        margin-right: 1%;
        background-color: #bfbfbf;
        display: inline-block;
        padding: 0.5em;
    }
</style>
{% endblock %}

{% block content %}
<div class="back">
<center><h3><b>{{ courseID }}</b></h3>
<p>{{ courseName }}</p>
<div class="float-container">
<div class="float-child">
<p>Overall Rating: {{ overall }}/5</p>
<p>{{ numRatings }} ratings</p>
<br>
<table>
    <tr>
        <td>5 stars</td>
        <td><progress value="{{ five_stars }}" max="{{ numRatings }}"></progress></td>
        <td>{{ five_stars}}</td>
    </tr>
    <tr>
        <td>4 stars</td>
        <td><progress value="{{ four_stars }}" max="{{ numRatings }}"></progress></td>
        <td>{{four_stars}}</td>
    </tr>
    <tr>
        <td>3 stars</td>
        <td><progress value="{{ three_stars }}" max="{{ numRatings }}"></progress></td>
        <td>{{three_stars}}</td>
    </tr>
    <tr>
        <td>2 stars</td>
        <td><progress value="{{ two_stars }}" max="{{ numRatings }}"></progress></td>
        <td>{{two_stars}}</td>
    </tr>
    <tr>
        <td>1 star</td>
        <td><progress value="{{ one_star }}" max="{{ numRatings }}"></progress></td>
        <td>{{one_star}}</td>
    </tr>
</table>
<form action="" method="POST">
<input type="submit" id="submit" name="submit" /><br><br>
</form>
<div class="float-child">
<p>Difficulty: {{ difficulty }}/5 &emsp; Usefulness: {{ usefulness }}/5</p>

<p>Top Tags</p>
    {%for tag in tags %}
<div class="tag">{{ tag }}</div>
    {%endfor%}
</div>
</div>

<p>Top Reviews</p>
<!--Loop through reviews-->
    {%for review in reviews%}
<div class="comment">QUALITY: <b>{{ review.rating }}</b> &emsp; DIFFICULTY: {{ review.difficulty }} &emsp; USEFULNESS: {{ review.usefulness }} &emsp; {{ review.semester }} &emsp; Professor: {{ review.professor }}<br> {{ review.message }}</div>
<br>
{%endfor%}
</center>
</div>
    



{% endblock %}

