{% extends "layout.html" %}

{% block head %}
<!--Emersyn, Rachael, Sarah, Kelly, Grant-->
<title>Course Feedback Form</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/rate.css">
<script src="/static/script.js"></script>
<style type="text/css">
    .table {
        margin-left: 1em;
    }
</style>
{% endblock %}
    
{% block content %}

<h2>Feedback Form</h2>
<center>
    <div class="form_center">
        <!-- <br /> -->
        <!-- action="ratemycourseratings/{{ courseID }}" -->
        <form action="" method="POST">
            {{ form.csrf_token }}
            <!-- <input type="text" id="abbreviation" name="abbreviation"><br><br>
            <input type="text" id="course" name="course"><br><br>
            <textarea id="professor" name="professor"></textarea><br><br> -->
           
            <p>Course Abbreviation <input type="text" id="abbreviation" name="abbreviation" style="width: 15em;" placeholder="Enter course ID (e.g. CSC212)"></p><br>
            <p>Course Name <input type="text" id="course" name="course" style="width: 26em;" placeholder="Enter course name (e.g. Human Computer Interaction)"></p><br>
            <p>Department  &nbsp;
                {{ form.department }}</p><br><br>
                <!-- <select id="dropMenu" class="dropdown-content" name = "dropMenu">
                    <option value="Accounting">Accounting</option>
                    <option value="Anthropology">Anthropology</option>
                    <option value="Art History">Art History</option>
                    <option value="Biology">Biology</option>
                    <option value="Brain & Cognitive Sciences">Brain & Cognitive Sciences</option>
                    <option value="Business">Business</option>
                    <option value="Chemical Engineering">Chemical Engineering</option>
                    <option value="Chemistry">Chemistry</option>
                    <option value="Computer Science">Computer Science</option>
                    <option value="Economics">Economics</option>
                    <option value="Education">Education</option>
                    <option value="English">English</option>
                    <option value="Finance">Finance</option>
                    <option value="Geography">Geography</option>
                    <option value="Geology">Geology</option>
                    <option value="History">History</option>
                    <option value="Linguistics">Linguistics</option>
                    <option value="Marketing">Marketing</option>
                    <option value="Mathematics">Mathematics</option>
                    <option value="Music">Music</option>
                    <option value="Nursing">Nursing</option>
                    <option value="Philosophy">Philosophy</option>
                    <option value="Physics">Physics</option>
                    <option value="Political Science">Political Science</option>
                    <option value="Psychology">Psychology</option>
                    <option value="Studio Arts">Studio Arts</option>
                    <option value="Theater">Theater</option>
                    <option value="Women's Studies">Women's Studies</option>
                    <option value="Writing">Writing</option>
                </select></p> -->
            <p>Professor <input id="professor" name="professor" type="text" placeholder="Enter professor name"></p><br>
            
            </div> <!--for the form-center*/-->
    <p>Semester Taken </p>
    {{ form.semester }}
    <br><br>
    <p>Overall Rating </p>
    {% for subfield in form.rating %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}
    <br>
    <p>Difficulty </p>
    {% for subfield in form.difficulty %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}
    <br>
    <p>Usefulness </p>
    {% for subfield in form.usefulness %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
    {% endfor %}
    <br>
    <p>
        Did you take this class online?  &nbsp;
        {% for subfield in form.online %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <!-- <input type="radio" name="online" value="yes">Yes
        <input type="radio" name="online" value="no">No -->
    </p><br>
    <p>
        Did you take this class for credit?  &nbsp;
        {% for subfield in form.credit %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <!-- <input type="radio" name="cred" value="yes">Yes
        <input type="radio" name="cred" value="no">No -->
    </p><br>
    <p>
        Did this class use textbooks?  &nbsp;
        {% for subfield in form.textbook %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <!-- <input type="radio" name="book" value="yes">Yes
        <input type="radio" name="book" value="no">No -->
    </p><br>
    <p>
        Was attendance mandatory?   &nbsp;
        {% for subfield in form.attendance %}
        <tr>
            <td>{{ subfield }}</td>
            <td>{{ subfield.label }}</td>
        </tr>
        {% endfor %}
        <!-- <input type="radio" name="att" value="yes">Yes
        <input type="radio" name="att" value="no">No -->
    </p><br>
    <p>
        What was your grade?  &nbsp;
        {{ form.grade }}
        <!-- <select id="grade" name="grade">
          <option value="A+">A+</option>
          <option value="A">A</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B">B</option>
          <option value="B-">B-</option>
          <option value="C+">C+</option>
          <option value="C">C</option>
          <option value="C-">C-</option>
          <option value="D+">D+</option>
          <option value="D">D</option>
          <option value="D-">D-</option>
          <option value="F">F</option>
          <option value="AU">Audit/No Grade</option>
          <option value="W">Drop/Withdraw</option>
          <option value="I">Incomplete</option>
          <option value="N">Not sure yet</option>
          <option value="NA">Rather not say</option>
        </select> -->
    </p><br><br>
    <p><b>Select tags</b></p><br>
    <p><input type="checkbox" name="tag" value="Tough Grader"> Tough Grader</p>
    <p><input type="checkbox" name="tag" value="Reading Heavy"> Reading Heavy</p>
    <p><input type="checkbox" name="tag" value="Participation Matters"> Participation Matters</p><br>
    <p><input type="checkbox" name="tag" value="Extra Credit"> Extra Credit</p>
    <p><input type="checkbox" name="tag" value="Group Projects"> Group Projects</p>
    <p><input type="checkbox" name="tag" value="Clear Grading Criteria"> Clear Grading Criteria</p><br>
    <p><input type="checkbox" name="tag" value="Lots Of Homework"> Lots Of Homework</p>
    <p><input type="checkbox" name="tag" value="Beware Of Pop Quizzes"> Beware Of Pop Quizzes</p>
    <p><input type="checkbox" name="tag" value="Lots of Papers"> Lots of Papers</p><br>
    <p><input type="checkbox" name="tag" value="Lecture Heavy"> Lecture Heavy</p>
    <p><input type="checkbox" name="tag" value="Test Heavy"> Test Heavy</p>
    <p><input type="checkbox" name="tag" value="Graded By Few Things"> Graded By Few Things</p>
    <br><br>
    <div class="review-panel">
        <h4>Write a Review</h4>
        {{ form.review(cols = "40", rows = "10", placeholder = "What do you want other students to know about this course?  Avoid profanity or derogatory terms.") }}
        <!-- <textarea cols="50" rows="10" name="review" placeholder="What do you want other students to know about this course?  Avoid profanity or derogatory terms."></textarea><br> -->
        <!-- <input type="submit" style="display: none" /> -->
        <br>
        <input type="submit" id="submit" name="submit">
        <!-- <input type="button" id="submitReview" onclick="location.href='ratemycourse';" value="Submit"/> Redirect back to course page -->
        </form>
    </div> <!--for the review-->

</center>
{% endblock %}

<!-- <div id="overall">
    <div class="selectgroup">
        <p style="margin:0" id="section">Rating</p>
        <label for="section">&nbsp;</label>
    </div>
    <div class="selectgroup">
        <input id="radio1" name="rating" type="radio" value="1">
        <label for="radio1">1</label>
    </div>
    <div class="selectgroup">
        <input id="radio2" name="rating" type="radio" value="2">
        <label for="radio2">2</label>
    </div>
    <div class="selectgroup">
        <input id="radio3" name="rating" type="radio" value="3">
        <label for="radio3">3</label>
    </div>
    <div class="selectgroup">
        <input id="radio4" name="rating" type="radio" value="4">
        <label for="radio4">4</label>
    </div>
    <div class="selectgroup">
        <input id="radio5" name="rating" type="radio" value="5">
        <label for="radio5">5</label>
    </div>
</div><br>
<div id="difficulty">
    <div class="selectgroup">
        <p style="margin:0" id="sectdiff">Difficulty</p>
        <label for="sectdiff">&nbsp;</label></div>
    <div class="selectgroup">
        <input id="radio1" name="diff" type="radio" value="1">
        <label for="radio1">1</label>
    </div>
    <div class="selectgroup">
        <input id="radio2" name="diff" type="radio" value="2">
        <label for="radio2">2</label>
    </div>
    <div class="selectgroup">
        <input id="radio3" name="diff" type="radio" value="3">
        <label for="radio3">3</label>
    </div>
    <div class="selectgroup">
        <input id="radio4" name="diff" type="radio" value="4">
        <label for="radio4">4</label>
    </div>
    <div class="selectgroup">
        <input id="radio5" name="diff" type="radio" value="5">
        <label for="radio5">5</label>
    </div>
</div><br>
<div id="usefulness">
    <div class="selectgroup">
        <p style="margin:0" id="sectuse">Usefulness</p>
        <label for="sectuse">&nbsp;</label></div>
    <div class="selectgroup">
        <input id="radio1" name="use" type="radio" value="1">
        <label for="radio1">1</label>
    </div>
    <div class="selectgroup">
        <input id="radio2" name="use" type="radio" value="2">
        <label for="radio2">2</label>
    </div>
    <div class="selectgroup">
        <input id="radio3" name="use" type="radio" value="3">
        <label for="radio3">3</label>
    </div>
    <div class="selectgroup">
        <input id="radio4" name="use" type="radio" value="4">
        <label for="radio4">4</label>
    </div>
    <div class="selectgroup">
        <input id="radio5" name="use" type="radio" value="5">
        <label for="radio5">5</label>
    </div>
</div><br> -->
