{% extends "layout.html" %}

{% block head %}
	<title>{{ courseID }}</title>
    <!-- bar stuff is from w3schools.com/howto/tryit.asp?filename=tryhow_css_user_rating-->
    <style>
        .table {
            border-collapse: collapse;
        }
        progress {
            height: 2rem;
            text-align: center;
            color: white;
            background-image: green;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
        .comment {
            margin-left: 5%;
            margin-right: 5%;
            background-color:#e4e4e4;
            padding:0.5em;
        }
        .tag {
            margin-left: 5%;
            margin-right: 5%;
            background-color:#cccccc;
            display: inline-block;
            padding:0.5em;
        }
    </style>
{% endblock %}

{% block content %}
	<div id="courseID" style="font-size: 2em;"><p><b>{{ courseID }}</b></p></div>
    <p>{{ courseName }}</p>
    Overall: {{ overall }}/5<br>
    {{ numRatings }} ratings<br><br>
    <table>
        <tr>
            <td>5 stars</td>
            <td><progress value="{{5stars}}" max="100"></progress></td>
            <td>{{5stars}}</td>
        </tr>
        <tr>
            <td>4 stars</td>
            <td><progress value="{{4stars}}" max="100"></progress></td>
            <td>{{4stars}}</td>
        </tr>
        <tr>
            <td>3 stars</td>
            <td><progress value="{{3stars}}" max="100"></progress></td>
            <td>{{3stars}}</td>
        </tr>
        <tr>
            <td>2 stars</td>
            <td><progress value="{{2stars}}" max="100"></progress></td>
            <td>{{2stars}}</td>
        </tr>
        <tr>
            <td>1 star</td>
            <td><progress value="{{1star}}" max="100"></progress></td>
            <td>{{1star}}</td>
        </tr>
    </table>

    <p>Difficulty: {{ difficulty }}/5</p>
    <p>Usefulness: {{ usefulness }}/5</p>

    <button id="rateThis" onclick="location.href='ratemycoursefeedback';">Rate this Course</button><br><br>

    <p>Top Tags</p>
    {%for tag in tags %}
        <div class="tag">{{ tag.message }}</div>
    {%endfor%}

    <p>Top Reviews</p>
    <!--Loop through reviews-->
    {%for review in reviews%}
        <div class="comment">{{ reviews.rating }} {{ reviews.message }} {{ reviews.tips }}</div><br>

    {%endfor%}
{% endblock %}