{% extends "layout.html" %}

{% block head %}
    <!--Emersyn, Rachael, Sarah, Kelly, Grant-->
    <meta charset="utf-8" />
    <title>Course Feedback Form</title>
    <style type="text/css">
        .selectgroup {
          display: inline-block;
          text-align: center;
        }
        .selectgroup label {
          display: block;
        }
        p {
            margin:0;
        }
    </style>
    <script src="/static/script.js"></script>
{% endblock %}

{% block content %}
    <h3>Feedback Form</h3>
    <br />
    <form method="POST" action="ratemycourseratings/{{ courseID }}">
        <p>Course Abbreviation <input type="text" id="courseid" name="courseid" style="width: 200px;" placeholder="Enter course ID (e.g. CSC212)"></p>
        <p>Course Name <input type="text" id="coursename" name="coursename" style="width: 350px;" placeholder="Enter course name (e.g. Human Computer Interaction)"></p>
        <p>Department
        <select id="dropMenu" class="dropdown-content">
            <option value="Accounting">Accounting</option>
            <option value="Anthropology">Anthropology</option>
            <option value="Art History">Art History</option>
            <option value="Biology">Biology</option>
            <option value="Brain & Cognitive Sciences">Brain & Cognitive Sciences</option>
            <option value="Business">Business</option>
            <option value="Chemical Engineering">Chemical Engineering</option>
            <option value="Chemistry">Chemistry</option>
            <option value="Computer Science">Computer Science</option>
            <option value="Economics">Economics</option>
            <option value="Education">Education</option>
            <option value="English">English</option>
            <option value="Finance">Finance</option>
            <option value="Geography">Geography</option>
            <option value="Geology">Geology</option>
            <option value="History">History</option>
            <option value="Linguistics">Linguistics</option>
            <option value="Marketing">Marketing</option>
            <option value="Mathematics">Mathematics</option>
            <option value="Music">Music</option>
            <option value="Nursing">Nursing</option>
            <option value="Philosophy">Philosophy</option>
            <option value="Physics">Physics</option>
            <option value="Political Science">Political Science</option>
            <option value="Psychology">Psychology</option>
            <option value="Studio Arts">Studio Arts</option>
            <option value="Theater">Theater</option>
            <option value="Women's Studies">Women's Studies</option>
            <option value="Writing">Writing</option>
        </select></p>
        <!--<p>Professor <input id="prof" type="text" placeholder="Enter professor name"></p><br>
        <p>Semester Taken <input id="sem" style="width: 300px;" type="text" placeholder="Enter semester you took the class (e.g. Fall 2022)"></p><br>
        <div id="overall">
            <div class="selectgroup">
                <p style="margin:0" id="section">Rating</p>
                <label for="section">&nbsp;</label>
            </div>
            <div class="selectgroup">
                <input id="radio1" name="rating" type="radio" value="1">
                <label for="radio1">1</label>
            </div>
            <div class="selectgroup">
                <input id="radio2" name="rating" type="radio" value="2">
                <label for="radio2">2</label>
            </div>
            <div class="selectgroup">
                <input id="radio3" name="rating" type="radio" value="3">
                <label for="radio3">3</label>
            </div>
            <div class="selectgroup">
                <input id="radio4" name="rating" type="radio" value="4">
                <label for="radio4">4</label>
            </div>
            <div class="selectgroup">
                <input id="radio5" name="rating" type="radio" value="5">
                <label for="radio5">5</label>
            </div>
        </div><br>
        <div id="difficulty">
            <div class="selectgroup">
                <p style="margin:0" id="sectdiff">Difficulty</p>
                <label for="sectdiff">&nbsp;</label></div>
            <div class="selectgroup">
                <input id="radio1" name="diff" type="radio" value="1">
                <label for="radio1">1</label>
            </div>
            <div class="selectgroup">
                <input id="radio2" name="diff" type="radio" value="2">
                <label for="radio2">2</label>
            </div>
            <div class="selectgroup">
                <input id="radio3" name="diff" type="radio" value="3">
                <label for="radio3">3</label>
            </div>
            <div class="selectgroup">
                <input id="radio4" name="diff" type="radio" value="4">
                <label for="radio4">4</label>
            </div>
            <div class="selectgroup">
                <input id="radio5" name="diff" type="radio" value="5">
                <label for="radio5">5</label>
            </div>
        </div><br>
        <div id="usefulness">
            <div class="selectgroup">
                <p style="margin:0" id="sectuse">Usefulness</p>
                <label for="sectuse">&nbsp;</label></div>
            <div class="selectgroup">
                <input id="radio1" name="use" type="radio" value="1">
                <label for="radio1">1</label>
            </div>
            <div class="selectgroup">
                <input id="radio2" name="use" type="radio" value="2">
                <label for="radio2">2</label>
            </div>
            <div class="selectgroup">
                <input id="radio3" name="use" type="radio" value="3">
                <label for="radio3">3</label>
            </div>
            <div class="selectgroup">
                <input id="radio4" name="use" type="radio" value="4">
                <label for="radio4">4</label>
            </div>
            <div class="selectgroup">
                <input id="radio5" name="use" type="radio" value="5">
                <label for="radio5">5</label>
            </div>
        </div><br>
        <p>Did you take this class online?
        <input type="radio" name="online" value="yes">Yes
        <input type="radio" name="online" value="no">No
        </p><br>
        <p>Did you take this class for credit?
        <input type="radio" name="cred" value="yes">Yes
        <input type="radio" name="cred" value="no">No
        </p><br>
        <p>Did this class use textbooks?
        <input type="radio" name="book" value="yes">Yes
        <input type="radio" name="book" value="no">No
        </p><br>
        <p>Was attendance mandatory?
        <input type="radio" name="att" value="yes">Yes
        <input type="radio" name="att" value="no">No
        </p><br>
        <p>What was your grade?
            <select id="grade" name="grade">
              <option value="A+">A+</option>
              <option value="A">A</option>
              <option value="A-">A-</option>
              <option value="B+">B+</option>
              <option value="B">B</option>
              <option value="B-">B-</option>
              <option value="C+">C+</option>
              <option value="C">C</option>
              <option value="C-">C-</option>
              <option value="D+">D+</option>
              <option value="D">D</option>
              <option value="D-">D-</option>
              <option value="F">F</option>
              <option value="AU">Audit/No Grade</option>
              <option value="W">Drop/Withdraw</option>
              <option value="I">Incomplete</option>
              <option value="N">Not sure yet</option>
              <option value="NA">Rather not say</option>
            </select>
        </p><br>    
        <p>Select tags </p>
            <p><input type="checkbox" name="tag" value="Tough Grader">Tough Grader</p>
            <p><input type="checkbox" name="tag" value="Reading Heavy">Reading Heavy</p>
            <p><input type="checkbox" name="tag" value="Participation Matters">Participation Matters</p>
            <p><input type="checkbox" name="tag" value="Extra Credit">Extra Credit</p>
            <p><input type="checkbox" name="tag" value="Group Projects">Group Projects</p>
            <p><input type="checkbox" name="tag" value="Clear Grading Criteria">Clear Grading Criteria</p>
            <p><input type="checkbox" name="tag" value="Lots Of Homework">Lots Of Homework</p>
            <p><input type="checkbox" name="tag" value="Beware Of Pop Quizzes">Beware Of Pop Quizzes</p>
            <p><input type="checkbox" name="tag" value="Lots of Papers">Lots of Papers</p>
            <p><input type="checkbox" name="tag" value="Lecture Heavy">Lecture Heavy</p>
            <p><input type="checkbox" name="tag" value="Test Heavy">Test Heavy</p>
            <p><input type="checkbox" name="tag" value="Graded By Few Things">Graded By Few Things</p>
        <br>
        <p>Write a Review</p>
        <textarea cols="50" rows="10" name="review" placeholder="What do you want other students to know about this course?  Avoid profanity or derogatory terms."></textarea><br>-->
        <input type="submit" style="display: none" />
        <input type="button" id="submitReview" onclick="location.href='ratemycourseratings/{{ courseID }}';" value="Submit"/> <!--Redirect back to course page-->
    </form>
</body>
{% endblock %}
