{% extends "layout.html" %}

{% block head %}
<!--Emersyn, Rachael, Sarah, Kelly, Grant-->
<title>RateMyCourse</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/styles.css">

<script src="/static/script.js"></script>
{% endblock %}

{% block content %}
<div class="container">
	<div class="lead">
		<h2 class="full-width">Rate My Course</h2>
		<form method="POST">
			<center>
				{{ form.csrf_token }}
				<h2 class="full-width" style="color: #ADD8E6;">Department</h2>
				{{ form.department }}
				<!-- <select id="dropMenu" class="dropdown-content" name = "dropMenu">
					<option value="Accounting">Accounting</option>
					<option value="Anthropology">Anthropology</option>
					<option value="Art History">Art History</option>
					<option value="Biology">Biology</option>
					<option value="Brain & Cognitive Sciences">Brain & Cognitive Sciences</option>
					<option value="Business">Business</option>
					<option value="Chemical Engineering">Chemical Engineering</option>
					<option value="Chemistry">Chemistry</option>
					<option value="Computer Science">Computer Science</option>
					<option value="Economics">Economics</option>
					<option value="Education">Education</option>
					<option value="English">English</option>
					<option value="Finance">Finance</option>
					<option value="Studio Arts">Studio Arts</option>
					<option value="Geography">Geography</option>
					<option value="Geology">Geology</option>
					<option value="History">History</option>
					<option value="Linguistics">Linguistics</option>
					<option value="Marketing">Marketing</option>
					<option value="Mathematics">Mathematics</option>
					<option value="Music">Music</option>
					<option value="Nursing">Nursing</option>
					<option value="Philosophy">Philosophy</option>
					<option value="Physics">Physics</option>
					<option value="Political Science">Political Science</option>
					<option value="Psychology">Psychology</option>
					<option value="Theater">Theater</option>
					<option value="Women's Studies">Women's Studies</option>
					<option value="Writing">Writing</option>
				</select>&nbsp; -->
				<input id="abbreviation" type="text" placeholder="Search" name="abbreviation"> &nbsp;
				<input type="submit" id="submit" name="submit">
				<!-- <input type="button" id="submitSearch" onclick="location.href='ratemycourse';" value="Submit" /> -->
			</center>

			{% if bool : %}
				<h1>The course doesn't exist in database yet!</h1>
			{% endif %}

			<center><input type="button" onclick="location.href='ratemycoursefeedback';" value="Add a Review" /></center>
			<!--<input type="submit" style="display: none" />-->

		</form>
		<br>
	</div>
</div>
{% endblock %}
